<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gleaners.administrator.mapper.IArticlePublishMapper">


    <insert id="saveArticle" parameterType="cn.gleaners.administrator.model.ArticleModel">
    insert into articles
    (article, title, author, author_id, views, category, category2, cid, c2id, time, description, state)
    values
    (#{article}, #{title}, #{author}, #{author_id}, #{views}, #{category}, #{category2}, #{cid}, #{c2id}, #{time}, #{description}, #{state});
</insert>

</mapper>