<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gleaners.administrator.mapper.IArticleManagerMapper">


    <select id="selectArticles" parameterType="String" resultType="cn.gleaners.administrator.model.ArticleModel" >
        <if test="cid == '' or c2id == ''">
            select
            id, title, author, time, author_id, views, category, category2, cid, c2id, state
            from articles
        </if>

        <if test="cid != '' and c2id != ''">
            select
            id, title, author, time, author_id, views, category, category2, cid, c2id, state
            from articles where cid=#{cid} and c2id=#{c2id}
        </if>
    </select>

    <update id="updateArticleState" parameterType="int">
        update articles set state=#{state} where id=#{id}
    </update>

    <select id="selectCategory" resultType="cn.gleaners.administrator.model.CategoryModel">
        select * from category
    </select>

    <select id="selectC2ByCid" parameterType="String" resultType="cn.gleaners.administrator.model.Category2Model">
        select * from category2 where cid=#{cid}
    </select>

</mapper>